
body {

    background-color: #f7f9fb;
}

.heading {

    display: flex;
    border-bottom: 1px rgb(168, 166, 166) solid;
    background-color: #808080;
    width: 1334px;
    /* justify-content: center; */
    /* margin-left: 238px; */
}

.heading h1 {

    background-color: #928f8f;
    width: 230px;
    height: 0px;
}

 .heading .searchBar {

    width: 800px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

.heading .searchBar input {

    border: none;
    padding: 10px;
}

.heading .searchBar span {


    background-color: rgb(176, 187, 197);
    height: 50px;
    display: flex;
    align-items: center;
    /* width: 200px; */

}



.heading .searchBar .inputBar {

    margin-right: 546px;
    display: flex;
}

.heading .searchBar svg {

    fill: grey;
    width: 30px;
}
    /* justify-content: center; */

.heading .searchBar img {

    width: 40px;
    background-color: #5d9cf2;
    border-radius: 50%;
}


.heading div p {

    width: 200px;
    font-size: 20px;

}

.section1 {

    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    /* background-color: aqua; */
    
}

 .menu {

    width: 230px;
    height: 750px;
    display: flex;  
    flex-direction:column;
    justify-content: space-between;
    margin-bottom: 30px;
    border-right: 1px solid rgb(195, 187, 187);
    background-color: #e5e0e0;


}

.menu div {

    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 2px;


}


.menu div span {

    display: flex;
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-content: space-evenly;
    

}

.menu div span p {
    
    color: #808080;

}

.menu font {


    margin-right: 17px;
}

.menu p {

    color: #808080;
    width: 100px;
    text-align:center;
}

.childSection {

    width: 1100px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;

}


.childSection div {

    height: 290px;
    display: flex;
    flex-direction: column;
    width: 660px;
    height: 750px;
    justify-content: space-between;
    padding: 2px;


}

.childSection div div {

    /* background-color: burlywood; */
    width: 700px;
    height: 192px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
 
.childSection div div span {

    display: flex;
    flex-direction:column;
    background-color: antiquewhite;
    width: 210px;
    height: 180px;
    justify-content: space-evenly;
    border-radius: 10px;

}

.childSection div div span h3 {

    color: #121843;
}

.childSection div div span h1 {

    color: #121843;
}




 .childSection #colorPink {

    background-color:#ffefe7;
    color:#ff8a87 ;
    padding: 5px;

}

.childSection #colorGreen {

    background-color: #e8f0fb;
    color: #5d9cf2;
    padding: 5px;

}

.childSection #colorPurple {

    background-color: #fdebf9;
    color: #f391dd;
    padding: 5px;

}

.childSection span{

    background-color: #5b5959;
    width: 390px;
    height: 750px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */

}

 .section3 span {

    background-color: #121b4d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    width: 390px;
    height: 220px;
    color: white;
    font-size: 15px;
}

.section3 span h2  {

margin-bottom: 180px;
background-color: #030b3d51;
padding: 15px;

}


.childSection div .dataDiv span {

    background-color: #ffefe7;
    width: 345px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid grey;

}

.childSection div .dataDiv span span {

    /* background-color: #121843; */
    width: 160px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: ; */
    border: none;
}

  .section2 {

    background-color: #121843;
    height: 20px;
}